/* =======================================================
*
* 	Template Styles 
*
* ======================================================= */

body {
	margin-top: 100px;
	background-color: #222;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #484c50;
	font-weight: 600;
}
@media(min-width:768px) {
	body {
		margin-top: 50px;
	}
}

#wrapper {
	padding-left: 0;
}

#page-wrapper {
	width: 100%;
	padding: 0;
	background-color: #edf0f5;
}

.huge {
	font-size: 50px;
	line-height: normal;
}
@media(min-width:768px) {
	#wrapper {
		padding-left: 225px;
	}

	#page-wrapper {
		padding: 10px;
	}
}
/* Top Navigation */
.navbar-inverse {
	border-color: #222222;
	box-shadow: 6px 6px 5px #CCC;
}

.top-nav {
	padding: 0 15px;
}

.top-nav > li {
	display: inline-block;
	float: left;
}

.top-nav > li > a {
	padding-top: 18px;
	padding-bottom: 18px;
	line-height: 20px;
	color: #e9e9e9;
}

.top-nav > .open > a,
.top-nav > .open > a:focus,
.top-nav > .open > a:hover,
.top-nav > li > a:focus,
.top-nav > li > a:hover {
	color: #fff;
	background-color: #000;
}

.top-nav > .open > .dropdown-menu {
	float: left;
	position: absolute;
	margin-top: 0;
	border: 1px solid rgba(0,0,0,.15);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background-color: #fff;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav > .open > .dropdown-menu > li > a {
	white-space: normal;
}

ul.message-dropdown {
	padding: 0;
	max-height: 250px;
	overflow-x: hidden;
	overflow-y: auto;
}

li.message-preview {
	width: 275px;
	border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview > a {
	padding-top: 15px;
	padding-bottom: 15px;
}

li.message-footer {
	margin: 5px 0;
}

ul.alert-dropdown {
	width: 200px;
}
/* Side Navigation */
@media(min-width:768px) {
	.side-nav {
		position: fixed;
		top: 57px;
		left: 225px;
		width: 225px;
		margin-left: -225px;
		border: none;
		border-radius: 0;
		overflow-y: auto;
		background-color: #222;
		bottom: 0;
		overflow-x: hidden;
		padding-bottom: 40px;
		font-weight: 600;
		font-size: 16px;
	}

	.side-nav > li > a {
		width: 225px;
	}

	.side-nav li a:focus,
	.side-nav li a:hover {
		outline: none;
		background-color: #000 !important;
	}
}

.side-nav > li > ul {
	padding: 0;
}

.side-nav > li > ul > li > a {
	display: block;
	padding: 10px 15px 10px 38px;
	text-decoration: none;
	color: #e9e9e9;
}

.side-nav > li > ul > li > a:hover {
	color: #e9e9e9;
}
/* Flot Chart Containers */
.flot-chart {
	display: block;
	height: 400px;
}

.flot-chart-content {
	width: 100%;
	height: 100%;
}
/* Custom Colored Panels */
.huge {
	font-size: 40px;
}

.panel-green {
	border-color: #5cb85c;
}

.panel-green > .panel-heading {
	border-color: #5cb85c;
	color: #fff;
	background-color: #5cb85c;
}

.panel-green > a {
	color: #5cb85c;
}

.panel-green > a:hover {
	color: #3d8b3d;
}

.panel-red {
	border-color: #d9534f;
}

.panel-red > .panel-heading {
	border-color: #d9534f;
	color: #fff;
	background-color: #d9534f;
}

.panel-red > a {
	color: #d9534f;
}

.panel-red > a:hover {
	color: #b52b27;
}

.panel-yellow {
	border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
	border-color: #f0ad4e;
	color: #fff;
	background-color: #f0ad4e;
}

.panel-yellow > a {
	color: #f0ad4e;
}

.panel-yellow > a:hover {
	color: #df8a13;
}

/* =======================================================
*
* 	Custom Styles 
*
* ======================================================= */
.table {
	color: #6a6c6f;
	
	thead {
		font-size: 12px;
	}

	thead th a {
		color: #6a6c6f;
	}
	
}

.navbar-right {
	font-size: 16px;
	font-weight: 600;
	
	li {
		font-size: 14px;
		font-weight: 600;
	}
}

.navbar-brand {
	font-size: 24px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: white !important;
	position: relative;

	&:hover {
		left: 4px;
		top: 2px;
	}

	span {
		font-weight: 800;
		color: #8dc63f;
	}
}

#page-wrapper {
	min-height: calc(100vh - 50px);
}

.panel {
	margin-top: 30px;
	overflow-x: scroll;

	.panel-header {
		display: flex;
		justify-content: space-between;

		.icon {
			color: #484c50;
			font-size: 6rem;
		}

		.title {
			font-size: 4rem;
			margin-top: 0;
			line-height: 60px;
		}
	}

	.panel-body {
		padding: 30px;
	}
}
// News section
.news {
	margin: 30px 0;
	padding-bottom: 15px;
	border-bottom: 1px dashed #ccc;

	&:last-child {
		border: 0;
		margin-bottom: 0;
	}

	p {
		padding-left: 49px;
	}

	h4 {
		display: inline-block;
		margin-bottom: 0;
	}
}

.news-icon {
	display: inline-block;
	width: 45px;
	height: 45px;
	color: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 34px;
	background-color: #8dc53f;
	border: 4px solid #fff;
	border-radius: 100px;

	.icon {
		line-height: 35px;
	}
}
// Table section
.table.points {
	td {
		line-height: 33.5px;
	}
}

.avatar {
	display: inline-block;
	border-radius: 50%;
	background-image: url('https://cdn.comuniame.com/img/player.png');
	background-repeat: no-repeat;
	background-color: #eceff1;
	background-position: center center;
	background-size: cover;
	vertical-align: middle;
	width: 35px;
	height: 35px;
}
// Squad section
.squad-section {
	.table {
		td {
			line-height: 27.5px;

			&.narrow {
				line-height: normal;
			}
		}
	}
	
	.btn {
		margin: 0;
		padding: 2px 5px;
		min-width: 70px;
		font-size: 12px;
	}

	.pos {
		display: inline-block;
		font-weight: 700;
		font-size: 11px;
		border-radius: 2px;
		text-align: center;
		min-width: 26px;
		height: 26px;
		line-height: 28px;
		color: #fff;
		background: #777;

		&-goalkeeper {
			background: #ffd800;
			color: #000;
		}

		&-defender {
			background: #03a9f4;
		}

		&-midfielder {
			background: #10af00;
		}

		&-forward {
			background: red;
		}
	}

	.narrow img {
		max-width: 30px;
		max-height: 40px;
	}

	.player-status {
		display: inline-block;
		font-weight: 700;
		font-size: 11px;
		border-radius: 2px;
		text-align: center;
		min-width: 26px;
		height: 26px;
		line-height: 28px;
		color: #fff;
		background-color: #5cb85c;

		&-injured,
		&-sanctioned {
			background-color: #d9534f;
		}
	}

	.fitness {
		display: block;
		white-space: nowrap;

		.points {
			display: inline-block;
			font-size: 12px;
			width: 20px;
			text-align: center;
			border-right: 1px solid #fff;
			height: 17px;
			line-height: 17px;
			font-weight: 400;
			padding: 0;
			margin: 0;
			border-radius: 0;
			vertical-align: middle;
			color: #fff;
			background-color: #ccc;

			&:first-child {
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
			}

			&:last-child {
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
				border-right: none;
			}
		}

		.injured {
			background-color: #d9534f;
		}

		.sanctioned {
			background-color: #d9534f;
		}

		.not-played {
			background: #bbb;
			color: #000;
		}

		.negative-points {
			background-color: red;
		}

		.low-points {
			background: #ff9800;
		}

		.high-points {
			background: #10af00;
		}

		.so-high-points {
			background: #03a9f4;
		}
	}
}
// Lineup section
.lineup-section {
	padding: 0 20px !important;

	.container-fluid .row {
		display: flex;
		flex-wrap: wrap;
		@media screen and (min-width: 1175px) {
			flex-wrap: nowrap;
		}
	}

	.panel-container {
		margin-top: 20px;
	}

	.panel {
		p {
			margin-bottom: 20px;
		}

		.panel-body {
			// min-height: 470px;
		}

		.panel-footer {
			button {
				width: 100%;
			}
		}
	}

	.ground {
		width: 70%;
		height: 575px;
		margin: 50px auto;
		position: relative;
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
		background-image: url("../images/football-ground.svg");
	}

	.btn-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 40px;

		button {
			margin: 0 10px 10px 0;
		}
	}

	.card {
		position: relative;
		height: 96px;
		width: 70px;
		overflow: hidden;
		padding: 0;
		border: none;
		border-radius: 0.28571429rem;
		box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
	}

	.card-block {
		font-size: 10px;
		font-weight: 400;
		text-align: center;
		position: relative;
		margin: 0;
		border: none;
		border-top: 1px solid rgba(34, 36, 38, .1);
		box-shadow: none;
		background-color: white;
	}

	.card-img-top {
		display: block;
		width: 100%;
		height: auto;
	}
	// Player positions in ground
	.line-defenders,
	.line-forwards,
	.line-goalkeeper,
	.line-midfielders {
		display: flex;
		justify-content: space-around;
		margin-top: 25px;
	}
	
	.player-status {
		position: absolute;
		bottom: 15px;
		right: -7.5px;
		display: inline-block;
		font-weight: 700;
		font-size: 11px;
		border-radius: 50%;
		text-align: center;
		min-width: 26px;
		height: 26px;
		line-height: 28px;
		color: #fff;
		background-color: #5cb85c;

		&-injured,
		&-sanctioned {
			background-color: #d9534f;
		}
	}
}