/* =======================================================
*
* 	Template Styles
*
* ======================================================= */
body {
  margin-top: 100px;
  background-color: #222;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #484c50;
  font-weight: 600; }

@media (min-width: 768px) {
  body {
    margin-top: 50px; } }

#wrapper {
  padding-left: 0; }

#page-wrapper {
  width: 100%;
  padding: 0;
  background-color: #edf0f5; }

.huge {
  font-size: 50px;
  line-height: normal; }

@media (min-width: 768px) {
  #wrapper {
    padding-left: 225px; }
  #page-wrapper {
    padding: 10px; } }

/* Top Navigation */
.navbar-inverse {
  border-color: #222222;
  box-shadow: 6px 6px 5px #CCC; }

.top-nav {
  padding: 0 15px; }

.top-nav > li {
  display: inline-block;
  float: left; }

.top-nav > li > a {
  padding-top: 18px;
  padding-bottom: 18px;
  line-height: 20px;
  color: #e9e9e9; }

.top-nav > .open > a,
.top-nav > .open > a:focus,
.top-nav > .open > a:hover,
.top-nav > li > a:focus,
.top-nav > li > a:hover {
  color: #fff;
  background-color: #000; }

.top-nav > .open > .dropdown-menu {
  float: left;
  position: absolute;
  margin-top: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }

.top-nav > .open > .dropdown-menu > li > a {
  white-space: normal; }

ul.message-dropdown {
  padding: 0;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto; }

li.message-preview {
  width: 275px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }

li.message-preview > a {
  padding-top: 15px;
  padding-bottom: 15px; }

li.message-footer {
  margin: 5px 0; }

ul.alert-dropdown {
  width: 200px; }

/* Side Navigation */
@media (min-width: 768px) {
  .side-nav {
    position: fixed;
    top: 57px;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #222;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
    font-weight: 600;
    font-size: 16px; }
  .side-nav > li > a {
    width: 225px; }
  .side-nav li a:focus,
  .side-nav li a:hover {
    outline: none;
    background-color: #000 !important; } }

.side-nav > li > ul {
  padding: 0; }

.side-nav > li > ul > li > a {
  display: block;
  padding: 10px 15px 10px 38px;
  text-decoration: none;
  color: #e9e9e9; }

.side-nav > li > ul > li > a:hover {
  color: #e9e9e9; }

/* Flot Chart Containers */
.flot-chart {
  display: block;
  height: 400px; }

.flot-chart-content {
  width: 100%;
  height: 100%; }

/* Custom Colored Panels */
.huge {
  font-size: 40px; }

.panel-green {
  border-color: #5cb85c; }

.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c; }

.panel-green > a {
  color: #5cb85c; }

.panel-green > a:hover {
  color: #3d8b3d; }

.panel-red {
  border-color: #d9534f; }

.panel-red > .panel-heading {
  border-color: #d9534f;
  color: #fff;
  background-color: #d9534f; }

.panel-red > a {
  color: #d9534f; }

.panel-red > a:hover {
  color: #b52b27; }

.panel-yellow {
  border-color: #f0ad4e; }

.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e; }

.panel-yellow > a {
  color: #f0ad4e; }

.panel-yellow > a:hover {
  color: #df8a13; }

/* =======================================================
*
* 	Custom Styles
*
* ======================================================= */
.table-wrapper {
  overflow: scroll; }

.table {
  color: #6a6c6f;
  width: 100%;
  min-width: 760px; }
  .table thead {
    font-size: 12px; }
  .table thead th a {
    color: #6a6c6f; }

.navbar-right {
  font-size: 16px;
  font-weight: 600; }
  .navbar-right li {
    font-size: 14px;
    font-weight: 600; }

.navbar-brand {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white !important;
  position: relative; }
  .navbar-brand:hover {
    left: 4px;
    top: 2px; }
  .navbar-brand span {
    font-weight: 800;
    color: #8dc63f; }

#page-wrapper {
  min-height: calc(100vh - 50px); }

.panel {
  margin-top: 30px;
  overflow: hidden; }
  .panel .panel-header {
    display: flex;
    justify-content: space-between; }
    .panel .panel-header .icon {
      color: #484c50;
      font-size: 6rem; }
    .panel .panel-header .title {
      font-size: 4rem;
      margin-top: 0;
      line-height: 60px; }
  .panel .panel-body {
    padding: 30px; }

.news {
  margin: 30px 0;
  padding-bottom: 15px;
  border-bottom: 1px dashed #ccc; }
  .news:last-child {
    border: 0;
    margin-bottom: 0; }
  .news p {
    padding-left: 49px; }
  .news h4 {
    display: inline-block;
    margin-bottom: 0; }

.news-icon {
  display: inline-block;
  width: 45px;
  height: 45px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 34px;
  background-color: #8dc53f;
  border: 4px solid #fff;
  border-radius: 100px; }
  .news-icon .icon {
    line-height: 35px; }

.table.points td {
  line-height: 33.5px; }

.avatar {
  display: inline-block;
  border-radius: 50%;
  background-image: url("https://cdn.comuniame.com/img/player.png");
  background-repeat: no-repeat;
  background-color: #eceff1;
  background-position: center center;
  background-size: cover;
  vertical-align: middle;
  width: 35px;
  height: 35px; }

.squad-section .table td {
  line-height: 27.5px; }
  .squad-section .table td.narrow {
    line-height: normal; }

.btn-sell {
  margin: 0;
  padding: 2px 5px;
  min-width: 70px;
  font-size: 12px; }

.pos {
  display: inline-block;
  font-weight: 700;
  font-size: 11px;
  border-radius: 2px;
  text-align: center;
  min-width: 26px;
  height: 26px;
  line-height: 28px;
  color: #fff;
  background: #777; }
  .pos-goalkeeper {
    background: #ffd800;
    color: #000; }
  .pos-defender {
    background: #03a9f4; }
  .pos-midfielder {
    background: #10af00; }
  .pos-forward {
    background: red; }

.narrow img {
  margin-bottom: 5px;
  max-width: 30px;
  max-height: 40px; }

.player-status {
  display: inline-block;
  font-weight: 700;
  font-size: 11px;
  border-radius: 2px;
  text-align: center;
  min-width: 26px;
  height: 26px;
  line-height: 28px;
  color: #fff;
  background-color: #5cb85c; }
  .player-status-injured, .player-status-sanctioned {
    background-color: #d9534f; }

.fitness {
  display: block;
  white-space: nowrap; }
  .fitness .points {
    display: inline-block;
    font-size: 12px;
    width: 20px;
    text-align: center;
    border-right: 1px solid #fff;
    height: 17px;
    line-height: 17px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    border-radius: 0;
    vertical-align: middle;
    color: #fff;
    background-color: #ccc; }
    .fitness .points:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .fitness .points:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-right: none; }
  .fitness .injured {
    background-color: #d9534f; }
  .fitness .sanctioned {
    background-color: #d9534f; }
  .fitness .not-played {
    background: #bbb; }
  .fitness .negative-points {
    background-color: red; }
  .fitness .low-points {
    background: #ff9800; }
  .fitness .high-points {
    background: #10af00; }
  .fitness .so-high-points {
    background: #03a9f4; }

.lineup-section {
  padding: 0 20px !important; }
  .lineup-section .container-fluid .row {
    display: flex;
    flex-wrap: wrap; }
    @media screen and (min-width: 1175px) {
      .lineup-section .container-fluid .row {
        flex-wrap: nowrap; } }
  .lineup-section .panel-container {
    margin-top: 20px; }
  .lineup-section .panel p {
    margin-bottom: 20px; }
  .lineup-section .panel .panel-footer button {
    width: 100%; }
  .lineup-section .ground {
    width: 70%;
    height: 575px;
    margin: 50px auto;
    position: relative;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../images/football-ground.svg"); }
  .lineup-section .btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px; }
    .lineup-section .btn-container button {
      margin: 0 10px 10px 0; }
  .lineup-section .card {
    position: relative;
    height: 96px;
    width: 70px;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: 0.28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5; }
  .lineup-section .card-block {
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    position: relative;
    margin: 0;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, 0.1);
    box-shadow: none;
    background-color: white; }
  .lineup-section .card-img {
    display: block;
    width: 100%;
    height: auto; }
  .lineup-section .line-defenders,
  .lineup-section .line-forwards,
  .lineup-section .line-goalkeeper,
  .lineup-section .line-midfielders {
    display: flex;
    justify-content: space-around;
    margin-top: 25px; }
  .lineup-section .status {
    position: absolute;
    bottom: 15px;
    right: -7.5px;
    display: inline-block;
    font-weight: 700;
    font-size: 11px;
    border-radius: 50%;
    text-align: center;
    min-width: 26px;
    height: 26px;
    line-height: 28px;
    color: #fff;
    background-color: #5cb85c;
    border: 1px solid rgba(0, 0, 0, 0.25); }
    .lineup-section .status-injured, .lineup-section .status-sanctioned {
      background-color: #d9534f; }

.modal .lead {
  font-size: 30px; }

.modal .btn-container {
  text-align: right; }

.select-player {
  list-style: none;
  padding: 0; }

.card-player {
  height: 100px;
  position: relative;
  margin-bottom: 40px;
  border-radius: 4px;
  padding: 0 20px;
  cursor: pointer; }
  .card-player:hover {
    background-color: #eee; }
  .card-player-info {
    display: flex;
    flex-direction: column;
    top: 20px;
    height: 65px;
    position: relative; }
  .card-player-img {
    width: 65px;
    height: 65px;
    margin: 0 20px;
    border-radius: 50%;
    border: 3px solid #eceff1;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #eceff1;
    background-position: center bottom;
    display: inline-block;
    position: relative;
    top: 20px; }
    .card-player-img.injured, .card-player-img.sanctioned {
      border: 3px solid #d9534f; }
    .card-player-img .points {
      position: absolute;
      right: -10px;
      bottom: -10px;
      font-weight: 700;
      border-radius: 100%;
      font-size: 13px;
      text-align: center;
      min-width: 21px;
      color: #fff;
      border: 1px solid #fff;
      background: #2f3c4d;
      padding: 0 3px;
      margin: 0; }
  .card-player-profile {
    position: absolute;
    top: 20px;
    height: 65px;
    display: inline-block;
    vertical-align: middle; }
    .card-player-profile p {
      margin-bottom: 0; }
  .card-player .bet-price {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15px;
    right: 30px;
    height: 65px;
    text-align: center; }
    .card-player .bet-price input {
      border-radius: 4px;
      text-align: center; }

.description {
  margin-bottom: 0; }
  .description:last-of-type {
    margin-bottom: 1.5em; }

.table .in-sale {
  display: flex;
  flex-direction: column; }
  .table .in-sale .btn:last-of-type {
    margin-top: 5px; }

.modal-bet .card-player {
  cursor: auto; }
  .modal-bet .card-player:hover {
    background-color: white; }
