<div class="modal fade" id="player-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">

				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<p class="lead text-center">Alinear portero</p>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<ul class="select-player">
							<li class="card-player">
								<div class="card-player-info pull-left">
									<span class="narrow">
										<a title="Villareal" class="team" href="#">
											<img src="https://cdn.comuniame.com/i/t/real-madrid-15.png">
										</a>
									</span>
									<span title="Portero" class="pos pos-goalkeeper">PT</span>
								</div>
								<div class="card-player-img" style="background-image: url(http://files.laliga.es/jugadores/201608/96x96_25115821keylor-navas.jpg)">
									<span class="points">116</span>
								</div>
								<div class="card-player-profile">
									<p>Keylor Navas</p>
									<span class="fitness">
										<span class="points not-played" data-toggle="tooltip" title="No jugado">-</span><span class="points low-points">2</span><span class="points not-played" data-toggle="tooltip" title="No convocado">x</span><span class="points so-high-points">10</span>
									<span
									 class="points so-high-points">10</span>
										</span>
								</div>
							</li>
							<li class="card-player">
								<div class="card-player-info pull-left">
									<span class="narrow">
										<a title="Villareal" class="team" href="#">
											<img src="https://cdn.comuniame.com/i/t/villarreal-19.png">
										</a>
									</span>
									<span title="Portero" class="pos pos-goalkeeper">PT</span>
								</div>
								<div class="card-player-img injured" style="background-image: url(http://files.laliga.es/jugadores/201608/96x96_10163304asenjo.jpg)">
									<span class="points">132</span>
								</div>
								<div class="card-player-profile">
									<p>Sergio Asenjo</p>
									<span class="fitness">
										<span class="points injured" data-toggle="tooltip" title="Lesionado">+</span><span class="points injured" data-toggle="tooltip" title="Lesionado">+</span><span class="points injured" data-toggle="tooltip" title="Lesionado">+</span>
									<span
									 class="points injured" data-toggle="tooltip" title="Lesionado">+</span><span class="points injured" data-toggle="tooltip" title="Lesionado">+</span>
										</span>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="wrapper">

	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/">SKY<span>MANAGER</span></a>
		</div>
		<!-- Top Menu Items -->
		<ul class="nav navbar-right top-nav">
			<li class="dropdown">
				<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="icon icon-user"></i> Mario Terron <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li>
						<a href="#"><i class="icon icon-user"></i> Perfil</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/index.html"><i class="icon icon-power-off"></i> Cerrar sesión</a>
					</li>
				</ul>
			</li>
		</ul>
		<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav side-nav">
				<li>
					<a href="#!/"><i class="icon icon-newspaper-o"></i> Inicio</a>
				</li>
				<li>
					<a href="#!/table"><i class="icon icon-trophy"></i> Clasificacion</a>
				</li>
				<li class="active">
					<a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="icon icon-users"></i> Equipo <i class="icon icon-caret-down"></i></a>
					<ul id="demo" class="collapse">
						<li>
							<a href="#!/lineup"><i class="icon icon-user-plus"></i> Alineación</a>
						</li>
						<li>
							<a href="#!/squad"><i class="icon icon-users"></i> Plantilla</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="javascript:;" data-toggle="collapse" data-target="#demo2"><i class="icon icon-exchange"></i> Mercado <i class="icon icon-caret-down"></i></a>
					<ul id="demo2" class="collapse">
						<li>
							<a href="#!/market"><i class="icon icon-shopping-cart"></i> Mercado</a>
						</li>
						<li>
							<a href="#!/sales"><i class="icon icon-money"></i> Mis ventas</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</nav>

	<div id="page-wrapper" class="lineup-section">

		<div class="container-fluid">

			<!-- Page Heading -->
			<div class="row">
				<div class="ground">
					<div class="line-goalkeeper">
						<div class="card">
							<a href="#" class="to-player-modal">
								<img class="card-img" src="http://files.laliga.es/jugadores/201608/96x96_25115821keylor-navas.jpg">
								<div class="card-block">
									<p>Keylor Navas</p>
								</div>
								<span class="status" >
									<i class="icon icon-check"></i>
								</span>
								<span class="status" >
									<i class="icon icon-check"></i>
								</span>
							</a>
						</div>
					</div>
					<div class="line-defenders">
						<div class="card">
							<img class="card-img" src="http://files.laliga.es/jugadores/201608/96x96_25114256marcelo.jpg">
							<div class="card-block">
								<p>Marcelo</p>
							</div>
							<span class="status status-injured">
								<i class="icon icon-plus"></i>
							</span>
						</div>
						<div class="card">
							<img class="card-img" src="http://files.laliga.es/jugadores/201608/96x96_25114150sergio-ramos.jpg">
							<div class="card-block">
								<p>Sergio Ramos</p>
							</div>
							<span class="status">
								<i class="icon icon-check"></i>
							</span>
						</div>
						<div class="card">
							<img class="card-img" src="http://files.laliga.es/jugadores/201608/96x96_25114151varane.jpg">
							<div class="card-block">
								<p>Varane</p>
							</div>
							<span class="status">
								<i class="icon icon-check"></i>
							</span>
						</div>
						<div class="card">
							<img class="card-img" src="http://files.laliga.es/jugadores/201608/96x96_25114255carvajal.jpg">
							<div class="card-block">
								<p>Carvajal</p>
							</div>
							<span class="status">
								<i class="icon icon-check"></i>
							</span>
						</div>
					</div>
					<div class="line-midfielders">
						<div class="card">
							<img class="card-img" src="http://files.laliga.es/jugadores/201608/96x96_25114519isco.jpg">
							<div class="card-block">
								<p>Isco</p>
							</div>
							<span class="status">
								<i class="icon icon-check"></i>
							</span>
						</div>
						<div class="card">
							<img class="card-img" src="http://files.laliga.es/jugadores/201608/96x96_25120501kroos.jpg">
							<div class="card-block">
								<p>Toni Kroos</p>
							</div>
							<span class="status">
								<i class="icon icon-check"></i>
							</span>
						</div>
						<div class="card">
							<img class="card-img" src="http://files.laliga.es/jugadores/201608/96x96_25114359modric.jpg">
							<div class="card-block">
								<p>Luka Modric</p>
							</div>
							<span class="status">
								<i class="icon icon-check"></i>
							</span>
						</div>
						<div class="card">
							<img class="card-img" src="http://files.laliga.es/jugadores/201608/96x96_25120158asensio.jpg">
							<div class="card-block">
								<p>Marco Asensio</p>
							</div>
							<span class="status">
								<i class="icon icon-check"></i>
							</span>
						</div>
					</div>
					<div class="line-forwards">
						<div class="card">
							<img class="card-img" src="http://files.laliga.es/jugadores/201608/96x96_25114519cristiano-ronaldo.jpg">
							<div class="card-block">
								<p>Cristiano Ronaldo</p>
							</div>
							<span class="status">
								<i class="icon icon-check"></i>
							</span>
						</div>
						<div class="card">
							<img class="card-img" src="http://files.laliga.es/jugadores/201608/96x96_25115902benzema.jpg">
							<div class="card-block">
								<p>Benzema</p>
							</div>
							<span class="status">
								<i class="icon icon-check"></i>
							</span>
						</div>
					</div>
				</div>
				<div class="panel-container col-md-10 col-md-offset-1">
					<div class="panel panel-default">
						<!-- Default panel contents -->
						<div class="panel-body">
							<div class="panel-header">
								<h3 class="title">Alineación</h3>
								<i class="icon icon-users" aria-hidden="true"></i>
							</div>
							<p>Alineación que utilizarás para la próxima jornada. <strong>Recuerda</strong> que solo los jugadores alineados recibirán puntos.</p>
							<div class="btn-container">
								<button class="btn btn-primary">3-4-3</button>
								<button class="btn btn-primary">3-5-2</button>
								<button class="btn btn-primary">4-3-3</button>
								<button class="btn btn-primary">4-4-2</button>
								<button class="btn btn-primary">4-5-1</button>
								<button class="btn btn-primary">5-3-2</button>
								<button class="btn btn-primary">5-4-1</button>
							</div>
							<p>Alineación guardada el: 2 Jun de 2017, 14:00:00</p>
							<p>Valor alineado: 115.449.000 €</p>
						</div>
						<div class="panel-footer">
							<button class="btn btn-primary">Guardar alineación</button>
						</div>
					</div>
				</div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
