<div id="wrapper">

	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">SKY<span>MANAGER</span></a>
		</div>
		<!-- Top Menu Items -->
		<ul class="nav navbar-right top-nav">
			<li class="dropdown">
				<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="icon icon-user"></i> Mario Terron <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li>
						<a href="#"><i class="icon icon-user"></i> Perfil</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/index.html"><i class="icon icon-power-off"></i> Cerrar sesión</a>
					</li>
				</ul>
			</li>
		</ul>
		<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav side-nav">
				<li class="active">
					<a href="#"><i class="icon icon-newspaper-o"></i> Inicio</a>
				</li>
				<li>
					<a href="#!/table"><i class="icon icon-trophy"></i> Clasificacion</a>
				</li>
				<li>
					<a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="icon icon-users"></i> Equipo <i class="icon icon-caret-down"></i></a>
					<ul id="demo" class="collapse">
						<li>
							<a href="#!/lineup"><i class="icon icon-user-plus"></i> Alineación</a>
						</li>
						<li>
							<a href="#!/squad"><i class="icon icon-users"></i> Plantilla</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="javascript:;" data-toggle="collapse" data-target="#demo2"><i class="icon icon-exchange"></i> Mercado <i class="icon icon-caret-down"></i></a>
					<ul id="demo2" class="collapse">
						<li>
							<a href="#!/market"><i class="icon icon-shopping-cart"></i> Mercado</a>
						</li>
						<li>
							<a href="#!/sales"><i class="icon icon-money"></i> Mis ventas</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</nav>

	<div id="page-wrapper">

		<div class="container-fluid">

			<!-- Page Heading -->
			<div class="row">
				<div class="panel-container col-md-10 col-md-offset-1">
					<div class="panel panel-default">
						<!-- Default panel contents -->
						<div class="panel-body">
							<div class="panel-header">
								<h2 class="title">Noticías</h2>
								<i class="icon icon-newspaper-o" aria-hidden="true"></i>
							</div>

							<div class="news">
								<div class="news-header">
									<div class="news-icon">
										<i class="icon icon-money"></i>
									</div>
									<h4>Recompensa:</h4>
								</div>
								<div class="news-body">
									<p>En la jornada 38, has ganado 1.950.000 €</p>
								</div>
							</div>

							<div class="news">
								<div class="news-header">
									<div class="news-icon">
										<i class="icon icon-info-circle"></i>
									</div>
									<h4>NOTA INFORMATIVA:</h4>
								</div>
								<div class="news-body">
									<p>Tras la finalización del partido aplazado entre Celta de Vigo y Real Madrid de la jornada 21, te hemos sumado los puntos de los jugadores que alineaste y añadido a tu presupuesto el dinero que has ganado.</p>
								</div>
							</div>

							<div class="news">
								<div class="news-header">
									<div class="news-icon">
										<i class="icon icon-money"></i>
									</div>
									<h4>Recompensa:</h4>
								</div>
								<div class="news-body">
									<p>En la jornada 37, has ganado 4.000.000 €</p>
								</div>
							</div>

							<div class="news">
								<div class="news-header">
									<div class="news-icon">
										<i class="icon icon-exchange"></i>
									</div>
									<h4>Operacion de mercado:</h4>
								</div>
								<div class="news-body">
									<p>Sergio a vendido a Messi a Carles por 100.000.000 €</p>
								</div>
							</div>

							<div class="news">
								<div class="news-header">
									<div class="news-icon">
										<i class="icon icon-money"></i>
									</div>
									<h4>Recompensa:</h4>
								</div>
								<div class="news-body">
									<p>En la jornada 36, has ganado 3.250.000 €</p>
								</div>
							</div>

							<div class="news">
								<div class="news-header">
									<div class="news-icon"><i class="icon icon-file-text-o"></i></div>
									<h4>Oferta privada recibida:</h4>
								</div>
								<div class="news-body">
									<p>José Angel te ha hecho una oferta privada por Antoine Griezzman</p>
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- /.panel-container -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
